.quiz_qt{
    font-family: sans-serif;
    font-size: 30px;
    color:darkslategray;
    margin-left: 60px;
    
}

.ol{
    background-color: rgb(236, 234, 236);
    padding: 10px;
    border-radius: 10px;
}

.list{
    list-style: upper-alpha;
    font-family: arial;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    color:rgb(27, 27, 27);
    width: 70vw;
}

.wrongasw, .rightasw{
    background-color: rgb(212, 211, 211);
    text-decoration: none;
    color: rgb(27, 27, 27);
    border-radius: 16px;
    border: 3px solid rgb(46, 46, 46);
    padding: 2px;
    color:rgb(27, 27, 27);
    width: 70vw;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.wrongasw:hover, .rightasw:hover{
    font-weight: bolder;
    color: darkslategray;
    padding: 2px;
    box-sizing:inherit;
}

.wrongasw:active{
    background-color: rgb(201, 13, 13);
    text-decoration: none;
    color: rgb(27, 27, 27);
    text-decoration: line-through;
}


.rightasw:active{
    background: green;
    color: whitesmoke;
    text-decoration:solid;
}

.rightasw:hover{
    
}