html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(images/people.jpg) no-repeat center/cover; /*Só funciona com background, NÃO com BACKGROUND-IMAGE*/
  background-color: #1f2021;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  background-color: #48c5ce;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
  padding: 0.625rem;
}

main {
  padding: 2rem;
}

form {
  background-color: #ffffffbb;
  padding: 1.5rem;
  max-width: 230px;
  float: right;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(images/arrow.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Eixo X => "calc(100% - 10px)" *ou seja, eixo x todo-10px ; Eixo Y => "center" */
}

form #submit {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #48c5ce;
}

.formTitle {
  text-transform: uppercase;
  margin-top: 0;
}

.title {
  font-size: 1.625rem;
  font-weight: 900;
  text-transform: uppercase;
}

footer {
  position: relative;
  background-color: #1f2021;
  padding: 1rem 0 2rem;
  width: 100%;
  text-align: center;
}

#face {
  width: 160px;
  margin: 1rem 2rem 0;
}

.description {
  display: inline-block;
  color: white;
  min-width: none;
  max-width: 25%;
  text-align: left;
}

.footerTitle {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.description p {
  font-size: 0.9rem;
}

@media screen and (max-width: 759px) {
  html,
  body {
    width: 100vw;
    background-image: none;
  }

  header .title {
    font-size: 1.4rem;
  }

  main {
    background: url(images/people.jpg) center/cover;
    padding: 2rem 1rem 4rem;
    display: flex;
    justify-content: center;
  }

  form p,
  form input,
  form select {
    font-size: 1.1rem;
  }

  #face {
    width: 180px;
    border-radius: 8px;
  }

  .description {
    max-width: 80%;
    text-align: center;
  }

  .footerTitle {
    font-size: 2rem;
  }

  .description p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  header .title {
    font-size: 2rem;
  }

  main{
    display: flex;
    justify-content: center;
  }

  form {
    max-width: 360px;
  }

  form .formTitle {
    font-size: 1.4rem;
  }

  form p,
  form input,
  form select {
    font-size: 1.25rem;
  }

  .description {
    max-width: 55%;
  }

  .description p {
    font-size: 1.2rem;
    text-align: left;
  }
}
