* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #101111;
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  width: 100%;
  background-color: #48c5ce;
}
.title {
  padding: 10px;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

section {
  padding: 20px;
  background: url(images/people.jpg);
  background-size: cover;
  /*Só funciona com background, NÃO com BACKGROUND-IMAGE*/
  overflow: hidden;
}

.formContainer {
  background-color: #ffffffbb;
  max-width: 230px;
  padding: 20px;
  float: right;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.mb {
  margin-bottom: 15px;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(images/arrow.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Eixo X => "calc(100% - 10px)" *ou seja, eixo x todo-10px ; Eixo Y => "center" */
}

input[type='submit'] {
  color: white;
  text-transform: uppercase;
  text-indent: 0;
  font-weight: 900;
  background-color: #48c5ce;
}

.formTitle {
  text-transform: uppercase;
}

footer {
  background-color: #202121;
  padding: 40px;
  text-align: center;
}

#face {
  width: 160px;
}

.description {
  display: inline-block;
  color: white;
  max-width: 40%;
  margin-left: 40px;
  text-align: left;
}

.description * {
  margin-bottom: 20px;
}

.description h3 {
  text-transform: capitalize;
  font-size: 24px;
}
