html,
body {
  font-family: BlinkMacSystemFont, Georgia, Arial, sans-serif;
  background-color: rgba(240, 44, 44, 0.9);
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 10px;
  top: 50%;
  transform: translateY(-250%);
}

.input {
  border-width: 1px;
  width: 300px;
  border-radius: 5px;
}

.submit {
  background-color: rgba(51, 49, 49, 0.651);
  color: whitesmoke;
  border-radius: 6px;
}

h3 {
  text-transform: capitalize;
  text-align: center;
}
